{% if page.comments != false %}
  {% if site.data.comments.comments_provider != 'disqus' and site.data.comments.lazy_load_disqus and site.data.comments.disqus and site.data.comments.disqus.username %}
    <a href="#" class="show_disqus_comment" onclick="return false;">Show Disqus Comments</a>
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ page.url }}';
        this.page.title = '{{ page.title }}';
    };
    var disqus_loaded = false;
    $(function() {
        $('.show_disqus_comment').on('click', function() { // DON'T EDIT BELOW THIS LINE
            $(this).html('加载中...');
            var that = this;
            if (!disqus_loaded) {
                var d = document, s = d.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                var shortname = '{{ site.data.comments.disqus.username }}';
                s.src = '//' + shortname + '.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                disqus_loaded = true;
            }
            $(that).remove();
        })
    })
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}

  {% case site.data.comments.comments_provider %}
    {% when 'disqus' %}
      {% if site.data.comments.disqus and site.data.comments.disqus.username %}
        {% assign load_disqus = true %}
        {% if load_disqus %}
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url = '{{ site.url }}{{ page.url }}';
              this.page.identifier = '{{ page.url }}';
              this.page.title = '{{ page.title }}';
            };
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              var shortname = '{{ site.data.comments.disqus.username }}';
              s.src = '//' + shortname + '.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% endif %}
      {% endif %}
    {% when 'gitment' %}
        <div id="container"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
        var gitment = new Gitment({
            id: '{{ page.url }}',
            owner: '{{ site.data.comments.gitment.owner }}',
            repo: '{{ site.data.comments.gitment.repo }}',
            oauth: {
                client_id: '{{ site.data.comments.gitment.oauth.client_id }}',
                client_secret: '{{ site.data.comments.gitment.oauth.client_secret }}',
            },
        })
        gitment.render('container')
        </script>
    {% when 'gitalk' %}
        <div id="gitalk-container"></div>
        <script src="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
        <script>
        var gitalk = new Gitalk({
            id: '{{ page.url }}',
            clientID: '{{ site.data.comments.gitalk.clientID }}',
            clientSecret: '{{ site.data.comments.gitalk.clientSecret }}',
            repo: '{{ site.data.comments.gitalk.repo }}',
            owner: '{{ site.data.comments.gitalk.owner }}',
            admin: ['{{ site.data.comments.gitalk.owner }}'],
            labels: ['gitment'],
            perPage: 50,
        })
        gitalk.render('gitalk-container')
        </script>
    {% when 'valine' %}
        <h2>留言：</h2>
        <div id="comments"></div>
        <script src="//cdn1.lncld.net/static/js/3.15.0/av-min.js"></script>
        <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
        <script>
          new Valine({
              av: AV,
              el: '#comments',
              app_id: '{{ site.data.comments.valine.leancloud_appid }}',
              app_key: '{{ site.data.comments.valine.leancloud_appkey }}'
          });
        </script>
  {% endcase %}
{% endif %}
